{% extends 'factura/base.html' %}

{% block content %}

    <h1>Gestiona tus facturas</h1>

    <form id="my-form">
        <div>
            <a href='http://127.0.0.1:8001/busqueda_productos/'>
                <button class="button button1" id= "button1" type="button">Búsqueda de productos</button></a>
        </div>
        <div><a href='http://127.0.0.1:8001/factura/'><button class="button button2" id= "button2" type="button">Facturas archivadas</button></a>
    </div>
    </form>

{% endblock content %}
